
.team-grid {
display: grid;
grid-template-columns: repeat(6, 1fr);
gap: 20px;
padding: 20px;
}

.team-card {
text-align: center;
border: 1px solid #ddd;
padding: 10px;
border-radius: 8px;
text-decoration: none;
color: black;
}

/*.badge {*/
.team-badge {
width: 80px;
height: 80px;
object-fit: contain;
/*background: red;*/
}

.bundesliga-red {
/*.bundesliga-red th {*/
    background-color: #E2001A !important;
}

.bundesliga-red-text {
    color: #E2001A !important;
}


.homepage-background {
    position: relative;
    min-height: 100vh;
    background-image: url('/static/meisterschale_b.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 2rem 0;
}

.homepage-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1;
}

.homepage-background > .container {
    position: relative;
    z-index: 2;
}


.table thead th {
    vertical-align: middle !important;
    text-align: center;
}


/* Left table */
#team-performance-table {
    table-layout: fixed;
}

#team-performance-table th:nth-child(1),
#team-performance-table td:nth-child(1) {
    width: 55%;
    white-space: normal;
    word-wrap: break-word;
}

#team-performance-table th:nth-child(2),
#team-performance-table td:nth-child(2) {
    width: 20%;
    white-space: nowrap;
}

#team-performance-table th:nth-child(3),
#team-performance-table td:nth-child(3) {
    width: 25%;
    white-space: break-word;
}

/* Right table */
#match-performance-table {
    table-layout: fixed;
}

#match-performance-table th:nth-child(1),
#match-performance-table td:nth-child(1) {
    width: 77%;
    white-space: nowrap;
    word-wrap: break-word;
}

#match-performance-table th:nth-child(2),
#match-performance-table td:nth-child(2) {
    width: 23%;
    white-space: normal;  /* Changed to normal to allow wrapping */
    word-wrap: break-word;
}

