<!DOCTYPE html>
<html>
<head>
    <title>Bundesliga Stats</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body class="bg-light">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
        <div class="container">
            <a class="navbar-brand" href="/">Bundesliga 2023-24</a>
            <div class="navbar-nav">
                <a class="nav-link" href="/teams">Teams</a>
                <a class="nav-link" href="/top-scorers">Top Scorers</a>
                <a class="nav-link" href="/referees-cards-average">Referee Averages</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <h2 class="mb-4">
            {% if scorers %} Top scorers in first 15 minutes of matches
            {% elif referees %} Referees: average cards per match
            {% endif %}
        </h2>

        <table class="table table-striped table-hover shadow-sm bg-white">
            <thead class="table-dark">
                <tr>
                    {% if scorers %}
                    <form action="/top-scorers" method="GET" class="row g-3 mb-4 mt-2">
                        <div class="col-auto">
                            <label for="minutes" class="col-form-label">Show goals scored within first:</label>
                        </div>
                        <div class="col-auto">
                            <select name="minutes" id="minutes" class="form-select" onchange="this.form.submit()">
                                <option value="10">10 Minutes</option>
                                <option value="15" selected>15 Minutes</option>
                                <option value="20">20 Minutes</option>
                                <option value="30">30 Minutes</option>
                                <option value="45">45 Minutes</option>
                            </select>
                        </div>
                        <!--<div class="col-auto">-->
                        <!--    <button type="submit" class="btn btn-primary">Update</button>-->
                        <!--</div>-->
                    </form>
                        <th>Name</th>
                        <th>Goals</th>
                    {% elif referees %}
                        <th>Referee</th>
                        <th>Games</th>
                        <th>Cards/Game</th>
                    {% endif %}
                </tr>
            </thead>

            <tbody>
                {% if scorers %}
                    {% for scorer in scorers %}
                    <tr>
                        <td>{{ scorer.scorer_name }}</td>
                        <td>{{ scorer.goal_count }}</td>
                    </tr>
                    {% endfor %}
                {% elif referees %}
                    {% for r in referees %}
                    <tr>
                        <td>{{ r.ref_name }}</td>
                        <td>{{ r.games_refereed }}</td>
                        <td>{{ r.cards_per_game }}</td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>

    <style>
      .team-grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 20px;
        padding: 20px;
      }
      .team-card {
        text-align: center;
        border: 1px solid #ddd;
        padding: 10px;
        border-radius: 8px;
        text-decoration: none;
        color: black;
      }
      /*.badge {*/
     .team-badge {
        width: 80px;
        height: 80px;
        object-fit: contain;
        /*background: red;*/
      }
    </style>

    <body class="bg-light">
        <div class="container">
            <h2 class="my-4">Bundesliga Teams</h2>
    <div class="team-grid">
      {% for team in teams %}
        {% set clean_name = team|trim %}
        <a href="/team/{{ clean_name }}" class="team-card">
          <!--<img src="/static/badges/{{ clean_name }}.png" class="badge" alt="{{ clean_name }}">-->
            <img src="{{ url_for('static', filename='badges/' ~ clean_name ~ '.png') }}"
                 class="team-badge"
                 alt="{{ clean_name }}">

          <p>{{ clean_name }}</p>
        </a>
      {% endfor %}
    </div>
    </body>
</html>



<!--</body>-->
<!--</html>-->