{% extends "base.html" %}

{% block title %}Team page{% endblock %}

{% block content %}


<div class="text-center mb-4">
    <img src="{{ url_for('static', filename='badges/' + team + '.png') }}"
         alt="{{ team }} badge"
         class="mb-3"
         style="width: 150px; height: 150px; object-fit: contain;">

    <h1 class="mb-4">{{ team }}</h1>

    <p><strong>Top scorer:</strong> {{ player }}</p>
    <p><strong>Goals:</strong> {{ goals }}</p>

    <a href="/teams" class="btn btn-secondary mt-3">Back to Teams</a>
</div>



{% endblock %}


<!--</body>-->
<!--</html>-->